@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Marmelad&family=Noto+Sans+Marchen&display=swap');
:root {
  --background_color:
          #e0fdff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Literata", serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background_color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;

}
