/* Centered translucent white box */
.box_container {
    background: rgb(255, 255, 255, 0.2);
    border-style: solid;
    border-color: white;
    color: black;
    width: 25vw;
    height: 500px;
    padding-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Put translucent box behind box rotated 4 degrees */
.box_container::before {
    position: absolute;
    content: '';
    height: 500px;
    width: 25vw;
    display: block;
    z-index: -1;
    background: rgb(255, 255, 255,.4);
    transform: rotate(4deg);
}

/* Size differently for smaller screens */
@media (max-width: 1000px) {
    .box_container {
        background: rgb(255, 255, 255, 0.2);
        border-style: solid;
        border-color: white;
        color: black;
        width: 60vw;
        height: 500px;
        padding-bottom: 20px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .box_container::before {
        position: absolute;
        content: '';
        height: 500px;
        width: 60vw;
        display: block;
        z-index: -1;
        background: rgb(255, 255, 255,.4);
        transform: rotate(4deg);
    }
}
