button {
    background-color: #8dd9f2;
    height: 50px;
    height: 50px;
    width: 30%;
    border-radius: 20px;
    border: 1px transparent;
    transition-duration: 0.4s;
}
button:hover {
    border: 4px solid;
    background-color: white;
    color: #8dd9f2;
}