/* Score Editor buttons */
.option_button {
    width: 55px;
    height: 50px;
    border: 1px solid var(--background_color);
    background-color: var(--nav_color);
    color: white;
    transition: 0.2s;
    font-size:20px;
}

.option_button:hover {
    background-color: var(--nav_color_hover);
}

/* Invert button when clicked */
.option_button:focus {
    filter: invert();
}

.edit_button {
    width: 105px;
}

.image_button {
    margin-top: 2px;
    width: 40px;
    height: 40px;
    filter: invert();
}
